@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
    
  }


.MuiTypography-root {
    font-family: 'Prompt', sans-serif !important; /* ใช้ฟอนต์ใน Material-UI Typography */
  }
  

.custom-form-label {
    
    font-size: 16px !important;
    font-weight: bold !important;
    color: #ff6b00 !important;
  }
  
  .custom-step-label {
    font: normal 1em 'Prompt', sans-serif !important;
    font-size: 1.2rem !important;
    font-weight: bold !important;
    color: #000 !important;  /* ถ้าต้องการเปลี่ยนสี */
  }

.semiter{
  display: flex;
  gap: 10px;
}


.sub_1{
  display: flex;
  gap: 10px;
}

