.headerTabBeforeLogin {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #1B1B1B;
    font-family: 'Open Sans', sans-serif;
    top: 0;
    position: fixed;
    height: 70px; /* กำหนดความสูงชัดเจน */
    z-index: 1000; /* เพื่อให้ Header อยู่ด้านบน */
}


.logoContainerTabBeforeLogin {
    display: flex;
    align-items: center;
}

.logoTabBeforeLogin {
    width: 50px;
}

.headerLinksTabBeforeLogin {
    display: flex; /* ใช้ Flexbox สำหรับเมนู */
    margin-left: auto; /* ดันเมนูไปชิดขวา */
    gap: 20px; /* ระยะห่างระหว่างเมนู */
}

.headerLinksTabBeforeLogin a {
    color: white;
    text-decoration: none;
    font-size: 1em;
    cursor: pointer;
}

.headerLinksTabBeforeLogin a:hover {
    color: #ff6600; /* สีเมื่อ hover */
}

.loginButtonTabBeforeLogin {
    background-color: #ff6600;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 7px;
    margin-left: 20px;
}

.loginButtonTabBeforeLogin:hover {
    background-color: #e65c00; /* สีเมื่อ hover */
}