@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@400;500;700&display=swap');

body {
    background-color: #f9f9f9;
    /* background-image:  */
        /* linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), */
        /* url('https://img.freepik.com/free-photo/lone-tree_181624-46361.jpg?t=st=1732550254~exp=1732553854~hmac=93ec43595c5354beccbe16071be2af683ce14757c6078aa17dd864a8a0f4ce63&w=996'); ลิงก์ URL ของรูปภาพ */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.1);
    position: relative;
    font: normal 1.25em 'Prompt', sans-serif;
  }

.Header{
    padding-top: 60px;
}

.Section_1 {
    background-color: #ffffff; 
    padding: 10px; 
    margin: 20px ; 
    width: 100%; 
    padding-right: 60%;
    box-shadow: 0 2px 8px rgba(0.1, 0.1, 0.1, 0.1);
    
}

.Seach_bar{
    color: black;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 20px;
    padding-bottom: 15px;
    background-color: rgb(255, 255, 255);  
     
}


.h3_Seach {
    font: normal 1.25em 'Prompt', sans-serif; 
    padding-bottom: 5px;
    
}

.line_1{
    display: flex;
    gap: 2px;
}


.Section{
    display: flex;
}

.Section_2 {
    background-color: #ffffff; 
    padding: 10px; 
    margin: 20px ; 
    color: black;
    box-shadow: 0 2px 8px rgba(0.1, 0.1, 0.1, 0.1);
    font:  1em 'Prompt', sans-serif;
}
.h3 {
    font: normal 1.25em 'Prompt', sans-serif; 
    padding-bottom: 5px;
}

.course{
    color: black;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 20px;
    padding-bottom: 15px;
    background-color: rgb(255, 255, 255); 
    display: flex;
}

.CardLists{
    display: flex;
    gap: 30px;
    padding-left: 10px;
}


  