.announcement-container {
  padding: 20px;
  margin-top: 60px;
  color: black;
  
}

.announcement-content {
    padding: 20px;
  }
  
  .announcement-list {
    margin-top: 1rem;
  }
  
  .announcement-item {
    border: 1px solid #ccc;
    padding: 1rem;
    margin-bottom: 1rem;
    display: flex;
    border-radius: 4px;
    justify-content: space-between;
    align-items: center;
  }
  
  .toggle-sidebar-button {
    margin: 1rem;
  }
  