/* Modal Styling */
.edit-seal-user-modal-title {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 10px;
  color: #000; /* สีข้อความ */
}


.edit-seal-user-footer {
  display: flex;
  justify-content: center; /* จัดปุ่มให้อยู่ตรงกลาง */
  padding: 0 16px;
}

.edit-seal-user-btn-primary {
  min-width: 120px; /* ความกว้างของปุ่ม */
  height: 40px; /* ความสูงของปุ่ม */
  font-size: 1rem;
  font-weight: 600;
  padding: 6px 16px;
  text-align: center;
  border-radius: 8px;
  transition: background-color 0.3s, border-color 0.3s;
}

.edit-seal-user-btn-primary:hover {
  background-color: #40a9ff;
  border-color: #40a9ff;
}

/* Form Styling */
.edit-seal-user-form-item {
  margin-bottom: 16px;
}

.edit-seal-user-form-item label {
  font-size: 1rem;
  font-weight: 600;
  color: #555;
}

/* Input and Select Styling */
.edit-seal-user-input,
.edit-seal-user-select-selector {
  border-radius: 8px;
  height: 40px;
  font-size: 1rem;

}

.editseller-button-container {
  display: flex;
  justify-content: center;
}

.editseller-Button {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 20px 50px;
  background: linear-gradient(45deg, #ffc107, #ffd966);
  color: black;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-top: 20px;
}

.editseller-Button:hover {
  background: linear-gradient(45deg, #e6b800, #ffc34d);
  transform: scale(1.1);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.editseller-Button:active {
  transform: scale(1);
  background: linear-gradient(45deg, #cc9900, #e6b800);
}

.loader-circle {
  width: 80px;
  height: 80px;
  border: 8px solid rgba(0, 0, 0, 0.2);
  border-top-color: #ff6b00;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.fullscreen-loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f9f9f9;
}

.fullscreen-loading h2 {
  color: #333;
  margin-bottom: 20px;
  font-size: 1.5rem;
}

/* การหมุนของ Loader */
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}